name: dev

services:
  reverse-proxy:
    # The official v3 Traefik docker image
    image: traefik:v3.3
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - --api.insecure=true
      - --providers.docker
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --certificatesresolvers.letsencrypt.acme.email=igor.nadj@gmail.com
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --log.level=INFO
      - --accesslog=true
    ports:
      # The HTTP port
      - "80:80"
      # The HTTPS port
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      # Persist Let's Encrypt certificates
      - letsencrypt:/letsencrypt

  anycal:
    image: igornadj/anycal:main
    # env_file defined in override docker-compose
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.anycal.tls=true"
      - "traefik.http.services.anycal.loadbalancer.server.port=3000"
    volumes:
      - anycal:/home/db

  nextseason-web:
    image: igornadj/nextseason
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.nextseason-web.tls=true"
      - "traefik.http.services.nextseason-web.loadbalancer.server.port=8080"

  visual-processing-test:
    image: igornadj/visual-processing-test
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.visual-processing-test.tls=true"
      - "traefik.http.services.visual-processing-test.loadbalancer.server.port=8080"

  analytics:
    image: arp242/goatcounter:latest
    volumes:
      - goatcounter-data:/home/goatcounter/goatcounter-data
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.analytics.tls=true"
      - "traefik.http.services.analytics.loadbalancer.server.port=8080"

  openvpn-as:
    image: openvpn/openvpn-as
    container_name: openvpn-as
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - MKNOD
    ports:
      - 1443:443
      - 1194:1194/udp
    volumes:
      - openvpn:/openvpn
    restart: unless-stopped
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.vpn-dashboard.tls=true"
      - "traefik.http.routers.vpn-dashboard.service=vpn-dashboard"
      - "traefik.http.services.vpn-dashboard.loadbalancer.server.port=943" # 943 is the dashboard port, not 443
      - "traefik.http.services.vpn-dashboard.loadbalancer.server.scheme=https"

  whoami:
    # A container that exposes an API to show its IP address
    image: traefik/whoami
    labels:
      # host rule in override docker-compose
      - "traefik.http.routers.whoami.tls=true"

volumes:
  letsencrypt:
  goatcounter-data:
  anycal:
  openvpn:
